{{define "admin"}}
{{$baseurl := .BaseUrl}}{{$dnldpath := .DownloadUrlPath}}
{{template "header" .}}
    <div class="container">
    <div class="message">&nbsp;</div>
    {{if .Message}}
      <table width="100%" class="files">
      <tr><th>Description</th><th class="date">Submitter</th><th class="size">Size (MB)</th><th class="size">Files</th><th class="date">Expiration</th></tr>
      <tr><td colspan=5>{{.Message}}</td></tr>
      </table>
    {{else}}
      <table width="100%" class="files">
      <tr><th>Description</th><th class="date">Submitter</th><th class="size">Size (MB)</th><th class="size">Files</th><th class="date">Expiration</th></tr>
        {{range .TrackerOfTrackers.Trackers}}
           <tr>
           <td class="filename"><a href="{{$baseurl}}{{$dnldpath}}{{.Dnldcode}}?vercode={{.Vercode}}">{{if .Description}}{{.Description}}{{else}}(no description available){{end}}</a></td>
           <td class="size">{{.SrcEmail}}</td>
           <td class="size">{{printf "%.2f" .SizeMB}} MB</td>
           <td class="size">{{len .Files}}</td>
           <td class="date">{{.ExpirationStr}}</td>
           </tr>
        {{end}}
        <tr><th colspan=5 class="total">Total ({{.TrackerOfTrackers.TotalFiles}} files, {{.TrackerOfTrackers.TotalSessions}} sessions): &nbsp; &nbsp; {{printf "%.2f" .TrackerOfTrackers.TotalSizeGB}} GB</th></tr>
      </table>
    {{end}}
    </div>
{{template "footer" .}}
{{end}}
