{{define "header"}}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>{{.Config.Main.AppName}} | {{.Config.Main.Company}}</title>
    {{template "styles" .}}
  </head>
  <body>
  {{template "nav" .}}
  <div class="title">{{.Config.Main.AppName}}</div>
  <div class="subtitle">{{.Config.Main.AppDesc}} (v{{.AppVer}})</div>
  <div class="clear"></div>
{{end}}


{{define "emailheader"}}
<html lang="en">
  <head>
    <title>{{.Config.Main.AppName}} | {{.Config.Main.Company}}</title>
    {{template "styles" .}}
  </head>
  <body>
{{end}}