{{define "senderemail"}}{{$page := .}}Subject: File(s) uploaded at {{$page.Config.Main.Company}}
MIME-version: 1.0;
Content-Type: text/html; charset="UTF-8";


{{template "emailheader" .}}
The files you uploaded are ready for download! Click a file name to download the file, or click <a href="{{$page.HttpProto}}://{{$page.RequestHost}}{{$page.DownloadUrlPath}}{{$page.Tracker.Dnldcode}}?vercode={{$page.Tracker.Vercode}}">here</a> to see them on the download page.<br><br>
<br>
<strong>Description:</strong><br>
{{$page.Tracker.Description}}<br>
<br>
<strong>Files ({{len $page.Tracker.Files}}):</strong><br>
{{range $page.Tracker.Files}}
Name: <a href="{{$page.HttpProto}}://{{$page.RequestHost}}{{$page.DownloadUrlPath}}{{$page.Tracker.Dnldcode}}/{{.Base64Name}}">{{.Name}}</a>
<br>
&nbsp; &nbsp; Size: {{printf "%.2f" .SizeMB}} MB<br>
<br>
{{end}}
{{template "emailfooter" .}}
{{end}}
